### importring

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

### load data

In [2]:
df=pd.read_csv("housing_data.csv")
df.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,price
0,7420,4,2,3,yes,no,no,no,yes,2,yes,13300000
1,8960,4,4,4,yes,no,no,no,yes,3,no,12250000
2,9960,3,2,2,yes,no,yes,no,no,2,yes,12250000
3,7500,4,2,2,yes,no,yes,no,yes,3,yes,12215000
4,7420,4,1,2,yes,yes,yes,no,yes,2,no,11410000

### Encoding catogrical data

In [3]:
mainroad_le=LabelEncoder()
guestroom_le=LabelEncoder()
basement_le=LabelEncoder()
hotwaterheating_le=LabelEncoder()
airconditioning_le=LabelEncoder()
prefarea_le=LabelEncoder()
df["mainroad"]=mainroad_le.fit_transform(df["mainroad"])
df["guestroom"]=guestroom_le.fit_transform(df["guestroom"])
df["hotwaterheating"]=basement_le.fit_transform(df["hotwaterheating"])
df["airconditioning"]=airconditioning_le.fit_transform(df["airconditioning"])
df["prefarea"]=prefarea_le.fit_transform(df["prefarea"])
df["basement"]=basement_le.fit_transform(df["basement"])

In [4]:
df

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,price
0,7420,4,2,3,1,0,0,0,1,2,1,13300000
1,8960,4,4,4,1,0,0,0,1,3,0,12250000
2,9960,3,2,2,1,0,1,0,0,2,1,12250000
3,7500,4,2,2,1,0,1,0,1,3,1,12215000
4,7420,4,1,2,1,1,1,0,1,2,0,11410000
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,1820000
541,2400,3,1,1,0,0,0,0,0,0,0,1767150
542,3620,2,1,1,1,0,0,0,0,0,0,1750000
543,2910,3,1,1,0,0,0,0,0,0,0,1750000
544,3850,3,1,2,1,0,0,0,0,0,0,1750000

### Scaling

In [5]:
sc=StandardScaler()
df=sc.fit_transform(df)

In [6]:
df

array([[ 1.04672629,  1.40341936,  1.42181174, ...,  1.51769249,
         1.80494113,  4.56636513],
       [ 1.75700953,  1.40341936,  5.40580863, ...,  2.67940935,
        -0.55403469,  4.00448405],
       [ 2.21823241,  0.04727831,  1.42181174, ...,  1.51769249,
         1.80494113,  4.00448405],
       ...,
       [-0.70592066, -1.30886273, -0.57018671, ..., -0.80574124,
        -0.55403469, -1.61432675],
       [-1.03338891,  0.04727831, -0.57018671, ..., -0.80574124,
        -0.55403469, -1.61432675],
       [-0.5998394 ,  0.04727831, -0.57018671, ..., -0.80574124,
        -0.55403469, -1.61432675]])

### splitting data

In [7]:
x=df[:,:-1]

In [8]:
x.shape

(545, 11)

In [9]:
y=df[:,-1]

In [10]:
y.shape

(545,)

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=44,shuffle=True)

In [12]:
print("x_train data size is", x_train.shape)
print("y_train data size is", y_train.shape)
print("x_test data size is", x_test.shape)
print("y_test data size is", y_test.shape)

x_train data size is (436, 11)
y_train data size is (436,)
x_test data size is (109, 11)
y_test data size is (109,)

### Applying KNN Model

In [13]:
clf=KNeighborsRegressor(n_neighbors=5,weights="uniform",algorithm="auto")
#training data
clf.fit(x_train,y_train)

KNeighborsRegressor()

In [14]:
#calclating prediction
y_pred=clf.predict(x_test)

In [15]:
#score func means how much data learned by ml algorithm
clf.score(x_test,y_test)*100

55.67640165130623

In [16]:
mean_absolute_error(y_test,y_pred)

0.403192803656045

In [17]:
mean_squared_error(y_test,y_pred)

0.2627266632955799

### Applying Linear Regression Model

In [18]:
lrm=LinearRegression(fit_intercept=True,normalize=True)
#training data
lrm_train=lrm.fit(x_train,y_train)

In [19]:
#calculate prediction
y_pred=lrm.predict(x_test)

In [20]:
lrm.score(x_test,y_test)*100

64.77342986808503

In [21]:
mean_absolute_error(y_test,y_pred)

0.3651975104883904

In [22]:
mean_squared_error(y_test,y_pred)

0.20880432940703472

In [26]:
x_test.shape,y_pred.shape,y_test.shape

((109, 11), (109,), (109,))

## Conclusions

* KNN is lazy excution - needs more time
* error of KNN model is greater than LinearRegression model
* how much data learned by linear regression is greater than KNN